<!DOCTYPE html>
<html>
<title>My Address Book</title>
<head>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/show.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


</head>
<body>

<h2>Address Book</h2>
<div class="topnav">
    <div class="search-container">

        <form action="/" method="post">
            <input type="text" placeholder="Search.." name="search">
            <button type="submit"><i class="fa fa-search"></i></button>
        </form>
    </div>
    <div class="add-container">
        <form action="contact_form.html">
            <button type="submit">Add New Contact</button>
        </form>
    </div>
</div>
{% with messages = get_flashed_messages() %}
{% if messages %}
<div class="alert alert-success alert-dismissible search-container">
    <a href="#" class="close" data-dismiss="alert"
       aria-label="close">&times;</a>
    <strong>Success!</strong> You have successfully added the contact.
</div>
{% endif %}
{% endwith %}

<div style="padding-top:16px">
    <table>
        <tr>
            <th>Name</th>
            <th>Address</th>
            <th>Date</th>
            <th>Contact</th>
        </tr>
        #for $data in $data_l
        <tr>
            <td><b>$data.CONTACT</b></td>
            #if $data.ADDRESS
            <td>
                #for $add_data in $data.ADDRESS
                <b>$add_data.type</b> : $add_data.ADDRESS<br>
                #end for
            </td>
            #else
            <td></td>
            #end if
            #if $data.DATE
            <td>
                #for $date_data in $data.DATE
                <b>$date_data.type</b> : $date_data.DATE<br>
                #end for
            </td>
            #else
            <td></td>
            #end if
            #if $data.PHONE
            <td>
                #for $ph_data in $data.PHONE
                <b>$ph_data.type</b> : $ph_data.PHONE<br>
                #end for
            </td>
            #else
            <td></td>
            #end if
        </tr>
        #end for
    </table>
    #if $data_l == []:
    <p style="text-align: center; font-size: 20px">No Record Found!!!</p>
    #end if
</div>
</body>
</html>