<!DOCTYPE html>
<!doctype html>
<title>My Address Book</title>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/contact_form.css">
    <script src="../static/jquery.js"></script>
    <script src="../static/update_form.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
 <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <h2 align="center" style="color: #202020"><b>Update Contact Form</b></h2>
</head>
<body>
{% if errors %}
<div class="alert alert-danger alert-dismissible container">
    <a href="#" class="close" data-dismiss="alert"
       aria-label="close">&times;</a>
    <ul>
        {%- for msg in errors %}
        <li>{{ msg }}</li>
        {% endfor -%}
    </ul>
</div>
{% endif %}
<div class="container">
    <form action="/update_form.html" method="post">
        <font color="202020">
            <div class="row ">
                <div class="col-25 container_sm">
                    <input type="text" id="fname" name="firstname"
                           placeholder="First Name"
                           value="$data_l.CONTACT[0][1]" required>
                </div>
                <div class="col-25 container_sm">
                    <input type="text" id="mname" name="middlename"
                           placeholder="Middle Name"
                           value="$data_l.CONTACT[0][2]">
                </div>
                <div class="col-25 container_sm">
                    <input type="text" id="lname" name="lastname"
                           placeholder="Last Name" required value=
                                   "$data_l.CONTACT[0][3]">
                    <input type="hidden" value=$data_l.CONTACT[0][0]
                           name="contact_id"/>
                </div>
            </div>
            <button type="button" class="button glyphicon" id="add_add"
                    onclick="add_addfn();">+
            </button>
            <div id="address_div1">
                #if $data_l.ADDRESS
                #for $add in $data_l.ADDRESS
                <div>
                    <div class="col-15">
                        <label for="address_type">Address Type</label>
                    </div>
                    <div class="col-15">
                        <select id="address_type" name="address_type">
                            #if $add[2] == "Home"
                            <option value="Home" selected>HOME</option>
                            #else
                            <option value="Home">HOME</option>
                            #end if
                            #if $add[2] == "Work"
                            <option value="Work" selected>WORK</option>
                            #else
                            <option value="Work">WORK</option>
                            #end if
                            #if $add[2] == "Other"
                            <option value="Other" selected>OTHER</option>
                            #else
                            <option value="Other">OTHER</option>
                            #end if
                        </select>
                    </div>
                    <button type="button" onclick="remove(this);"
                            class="button glyphicon glyphicon-minus-sign">
                    </button>
                    <div class="row"></div>
                    <div class="col-75 container_sm">
                        <input type="text" name="address"
                               placeholder="Street Address" value="$add[3]">
                    </div>
                    <div class="row"></div>
                    <div class="col-25 container_sm">
                        <input type="text" name="city"
                               placeholder="City" value="$add[4]">
                    </div>
                    <div class="col-25 container_sm">
                        <input type="text" name="state"
                               placeholder="State" value="$add[5]">
                    </div>
                    <div class="col-25 container_sm">
                        <input type="number" name="zip"
                               placeholder="Zip" maxlength="5" size="5"
                               value=$add[6]>
                    </div>
                    <input type="hidden" value=$add[0] name="add_id"/>
                    <div class="row"></div>
                </div>
                #end for
                #else
                <div>
                    <div class="col-15">
                        <label for="address_type">Address Type</label>
                    </div>
                    <div class="col-15">
                        <select id="address_type" name="address_type">
                            <option value="Home">HOME</option>
                            <option value="Work">WORK</option>
                            <option value="Other">OTHER</option>
                        </select>
                    </div>
                    <button type="button" onclick="remove(this);"
                            class="button glyphicon glyphicon-minus-sign">
                    </button>
                    <div class="row"></div>

                    <div class="col-75 container_sm">
                        <input type="text" id="address" name="address"
                               placeholder="Street Address">
                    </div>
                    <div class="row"></div>
                    <div class="col-25 container_sm">
                        <input type="text" id="city" name="city"
                               placeholder="City">
                    </div>
                    <div class="col-25 container_sm">
                        <input type="text" id="state" name="state"
                               placeholder="State">
                    </div>
                    <div class="col-25 container_sm">
                        <input type="number" id="zip" name="zip"
                               placeholder="Zip" maxlength="5" size="5">
                    </div>
                    <div class="row"></div>
                </div>
                #end if
                <div style="display: none" id="address_div">
                    <input type="hidden" value=0 name="add_id"/>
                    <div class="col-15">
                        <label for="address_type">Address Type</label>
                    </div>
                    <div class="col-15">
                        <select id="address_type" name="address_type">
                            <option value="Home">HOME</option>
                            <option value="Work">WORK</option>
                            <option value="Other">OTHER</option>
                        </select>
                    </div>
                    <button type="button" onclick="remove(this);"
                            class="button glyphicon glyphicon-minus-sign">
                    </button>
                    <div class="row"></div>

                    <div class="col-75 container_sm">
                        <input type="text" id="address" name="address"
                               placeholder="Street Address">
                    </div>
                    <div class="row"></div>
                    <div class="col-25 container_sm">
                        <input type="text" id="city" name="city"
                               placeholder="City">
                    </div>
                    <div class="col-25 container_sm">
                        <input type="text" id="state" name="state"
                               placeholder="State">
                    </div>
                    <div class="col-25 container_sm">
                        <input type="number" id="zip" name="zip"
                               placeholder="Zip" maxlength="5" size="5">
                    </div>
                    <div class="row"></div>
                </div>
            </div>

            <button type="button" class="button glyphicon" id="add_ph"
                    onclick="add_phfn();">+
            </button>
            <div id="phone_div1">
                #if $data_l.PHONE
                #for $ph in $data_l.PHONE
                <div>
                    <input type="hidden" value=$ph[0] name="ph_id"/>
                    <div class="row">
                        <div class="col-15">
                            <label for="phone_type">Phone Type</label>
                        </div>
                        <div class="col-15">
                            <select id="phone_type" name="phone_type">
                                #if $ph[1] == "Cell"
                                <option value="Cell" selected>CELL</option>
                                #else
                                <option value="Cell">CELL</option>
                                #end if
                                #if $ph[1] == "Home"
                                <option value="Home" selected>HOME</option>
                                #else
                                <option value="Home">HOME</option>
                                #end if
                                #if $ph[1] == "Work"
                                <option value="Work" selected>WORK</option>
                                #else
                                <option value="Work">WORK</option>
                                #end if
                                #if $ph[1] == "Other"
                                <option value="Other" selected>OTHER</option>
                                #else
                                <option value="Other">OTHER</option>
                                #end if
                            </select>
                        </div>
                        <button type="button" onclick="removeph(this);"
                                class="button glyphicon glyphicon-minus-sign">
                        </button>
                    </div>
                    <div class="row">
                        <div class="col-25 container_sm">
                            <input type="number" name="areacode"
                                   placeholder="Area Code" value=$ph[3]>
                        </div>
                        <div class="col-25 container_sm">
                            <input type="number" name="ph_number"
                                   placeholder="Phone Number" value=$ph[4]>
                        </div>
                    </div>
                </div>
                #end for
                #else
                <div>
                    <div class="row">
                        <div class="col-15">
                            <label for="phone_type">Phone Type</label>
                        </div>
                        <div class="col-15">
                            <select id="phone_type" name="phone_type">
                                <option value="Cell">CELL</option>
                                <option value="Home">HOME</option>
                                <option value="Work">WORK</option>
                                <option value="Other">OTHER</option>
                            </select>
                        </div>
                        <button type="button" onclick="removeph(this);"
                                class="button glyphicon glyphicon-minus-sign">
                        </button>
                    </div>
                    <div class="row">
                        <div class="col-25 container_sm">
                            <input type="number" id="areacode"
                                   name="areacode"
                                   placeholder="Area Code">
                        </div>
                        <div class="col-25 container_sm">
                            <input type="number" id="ph_number"
                                   name="ph_number"
                                   placeholder="Phone Number">
                        </div>
                    </div>
                </div>
                #end if
                <div style="display: none" id="phone_div">
                    <input type="hidden" value=0 name="ph_id"/>
                    <div class="row">
                        <div class="col-15">
                            <label for="phone_type">Phone Type</label>
                        </div>
                        <div class="col-15">
                            <select id="phone_type" name="phone_type">
                                <option value="Cell">CELL</option>
                                <option value="Home">HOME</option>
                                <option value="Work">WORK</option>
                                <option value="Other">OTHER</option>
                            </select>
                        </div>
                        <button type="button" onclick="removeph(this);"
                                class="button glyphicon glyphicon-minus-sign">
                        </button>
                    </div>
                    <div class="row">
                        <div class="col-25 container_sm">
                            <input type="number" id="areacode"
                                   name="areacode"
                                   placeholder="Area Code">
                        </div>
                        <div class="col-25 container_sm">
                            <input type="number" id="ph_number"
                                   name="ph_number"
                                   placeholder="Phone Number">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row"></div>

            <button type="button" class="button glyphicon" id="add_date"
                    onclick="add_datefn();">+
            </button>
            <div id="date_div1">
                #if $data_l.DATE
                #for $dt in $data_l.DATE
                <div>
                    <input type="hidden" value=$dt[0] name="dt_id"/>
                    <div class="row">
                        <div class="col-15 container_sm">
                            <label for="datetype">Date Type</label>
                        </div>
                        <div class="col-25 container_sm">
                            <select id="datetype" name="datetype">
                                #if $dt[2] == "Birth Date"
                                <option value="Birth Date" selected>BIRTH DATE
                                </option>
                                #else
                                <option value="Birth Date">BIRTH DATE
                                </option>
                                #end if
                                #if $dt[2] == "Anniversary"
                                <option value="Anniversary" selected>
                                    ANNIVERSARY
                                </option>
                                #else
                                <option value="Anniversary">
                                    ANNIVERSARY
                                </option>
                                #end if
                                #if $dt[2] == "OTHER"
                                <option value="OTHER" selected>OTHER</option>
                                #else
                                <option value="Other">OTHER</option>
                                #end if
                            </select>
                        </div>
                        <button type="button" onclick="remove(this);"
                                class="button glyphicon glyphicon-minus-sign">
                        </button>
                        <div class="col-25 container_sm">
                            <input type="date" name="date"
                                   placeholder="DATE" value=$dt[3]>
                        </div>
                    </div>
                </div>
                #end for
                #else
                <div>
                    <div class="row">
                        <div class="col-15 container_sm">
                            <label for="datetype">Date Type</label>
                        </div>
                        <div class="col-25 container_sm">
                            <select id="datetype" name="datetype">
                                <option value="Birth Date">BIRTH DATE</option>
                                <option value="Anniversary">ANNIVERSARY</option>
                                <option value="Other">OTHER</option>
                            </select>
                        </div>
                        <button type="button" onclick="remove(this);"
                                class="button glyphicon glyphicon-minus-sign">
                        </button>
                        <div class="col-25 container_sm">
                            <input type="date" name="date"
                                   placeholder="DATE">
                        </div>
                    </div>
                </div>
                #end if
                <div id="date_div" style="display: none">
                    <input type="hidden" value=0 name="dt_id"/>
                    <div class="row">
                        <div class="col-15 container_sm">
                            <label for="datetype">Date Type</label>
                        </div>
                        <div class="col-25 container_sm">
                            <select id="datetype" name="datetype">
                                <option value="Birth Date">BIRTH DATE</option>
                                <option value="Anniversary">ANNIVERSARY</option>
                                <option value="Other">OTHER</option>
                            </select>
                        </div>
                        <button type="button" onclick="remove(this);"
                                class="button glyphicon glyphicon-minus-sign">
                        </button>
                        <div class="col-25 container_sm">
                            <input type="date" name="date"
                                   placeholder="DATE">
                        </div>
                    </div>
                </div>

            </div>
            <div class="row">
                <input type="submit" value="Submit">
                <input type="button" id="searchbar" value="Cancel"
                       onclick="location.href='/'">
            </div>
        </font>
    </form>
</div>
<div></div>
<div class="bottom-nav">
    <div class="topnav" align="center">
        <i class="fa fa-github"
           href="https://github.com/sankalpbhandari/">/sankalpbhandari&nbsp;</i>
        <i class="fa fa-linkedin"
           href="https://www.linkedin.com/in/sankalpbhandari/">/sankalpbhandari&nbsp;</i>
        <i class="fa fa-facebook"
           href="https://www.facebook.com/sankalp.bhandari">/sankalp.bhandari&nbsp;</i>
    </div>
    <div class="topnav" align="center">
        <i class="fa">Sankalp Bhandari</i>
        <i class="fa fa-copyright">2018 </i>
        <i class="fa fa-envelope"
           href="mailto: sankalp.bhandari@gmail.com"> sankalp.bhandari@gmail
            .com&nbsp;</i>
    </div>
</div>

</body>
</html>
